/* H2 styling */
/* .markdown-preview-view h2,
.markdown-rendered h2,
.HyperMD-header.HyperMD-header-2.cm-line {
    padding-bottom: 8px;
    margin-bottom: 10px !important;
}

body.h2-no-underline .markdown-preview-view h2,
body.h2-no-underline .markdown-rendered h2,
body.h2-no-underline .HyperMD-header.HyperMD-header-2.cm-line {
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: revert;
} */